/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    padding: 0 20px;
}

.container > .row {
    color: black;
}

.container .text-muted {
    margin: 20px 0;
}

p {
    font-size: 15px;
    margin: 0 10px;
}

.fifteenpx li {
    font-size: 15px;
}

.img-responsive {
    margin: 0 auto;
}

@media (min-width: 700px) {
    .header-gri {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;

    }

    .header-gri p {
        width: 80%;
    }
}